/DatapacTechnicalAssignment/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DatapacTechnicalAssignmentUnitTests/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/DatapacTechnicalAssignment/obj/Debug/net8.0/apphost.exe
/DatapacTechnicalAssignment/bin/Debug/net8.0/appsettings.Development.json
/DatapacTechnicalAssignment/bin/Debug/net8.0/appsettings.json
/DatapacTechnicalAssignment/bin/Debug/net8.0/Azure.Core.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Azure.Identity.dll
/DatapacTechnicalAssignmentUnitTests/bin/Debug/net8.0/CoverletSourceRootsMapping_DatapacTechnicalAssignmentUnitTests
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacT.0144726A.Up2Date
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.AssemblyInfo.cs
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.AssemblyInfoInputs.cache
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.assets.cache
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.csproj.AssemblyReference.cache
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.csproj.CoreCompileInputs.cache
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.csproj.FileListAbsolute.txt
/DatapacTechnicalAssignment/obj/DatapacTechnicalAssignment.csproj.nuget.dgspec.json
/DatapacTechnicalAssignment/obj/DatapacTechnicalAssignment.csproj.nuget.g.props
/DatapacTechnicalAssignment/obj/DatapacTechnicalAssignment.csproj.nuget.g.targets
/DatapacTechnicalAssignment/bin/Debug/net8.0/DatapacTechnicalAssignment.deps.json
/DatapacTechnicalAssignment/bin/Debug/net8.0/DatapacTechnicalAssignment.dll
/DatapacTechnicalAssignment/obj/Debug/net8.0/ref/DatapacTechnicalAssignment.dll
/DatapacTechnicalAssignment/obj/Debug/net8.0/refint/DatapacTechnicalAssignment.dll
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/DatapacTechnicalAssignment.exe
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.GeneratedMSBuildEditorConfig.editorconfig
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.genruntimeconfig.cache
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.GlobalUsings.g.cs
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.MvcApplicationPartsAssemblyInfo.cache
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.MvcApplicationPartsAssemblyInfo.cs
/DatapacTechnicalAssignment/bin/Debug/net8.0/DatapacTechnicalAssignment.pdb
/DatapacTechnicalAssignment/obj/Debug/net8.0/DatapacTechnicalAssignment.pdb
/DatapacTechnicalAssignment/bin/Debug/net8.0/DatapacTechnicalAssignment.runtimeconfig.json
/DatapacTechnicalAssignment.sln.DotSettings.user
/DatapacTechnicalAssignmentUnitTests/obj/Debug/net8.0/DatapacTechnicalAssignmentUnitTests.AssemblyInfo.cs
/DatapacTechnicalAssignmentUnitTests/obj/Debug/net8.0/DatapacTechnicalAssignmentUnitTests.AssemblyInfoInputs.cache
/DatapacTechnicalAssignmentUnitTests/obj/Debug/net8.0/DatapacTechnicalAssignmentUnitTests.assets.cache
/DatapacTechnicalAssignmentUnitTests/obj/Debug/net8.0/DatapacTechnicalAssignmentUnitTests.csproj.AssemblyReference.cache
/DatapacTechnicalAssignmentUnitTests/obj/DatapacTechnicalAssignmentUnitTests.csproj.nuget.dgspec.json
/DatapacTechnicalAssignmentUnitTests/obj/DatapacTechnicalAssignmentUnitTests.csproj.nuget.g.props
/DatapacTechnicalAssignmentUnitTests/obj/DatapacTechnicalAssignmentUnitTests.csproj.nuget.g.targets
/DatapacTechnicalAssignmentUnitTests/obj/Debug/net8.0/DatapacTechnicalAssignmentUnitTests.GeneratedMSBuildEditorConfig.editorconfig
/DatapacTechnicalAssignmentUnitTests/obj/Debug/net8.0/DatapacTechnicalAssignmentUnitTests.GlobalUsings.g.cs
/DatapacTechnicalAssignment/bin/Debug/net8.0/EntityFramework.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/EntityFramework.SqlServer.dll
/.idea/.idea.DatapacTechnicalAssignment/.idea/indexLayout.xml
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.AspNetCore.OpenApi.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.Bcl.AsyncInterfaces.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/unix/lib/net6.0/Microsoft.Data.SqlClient.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Data.SqlClient.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.Data.SqlClient.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win-arm/native/Microsoft.Data.SqlClient.SNI.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win-arm64/native/Microsoft.Data.SqlClient.SNI.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win-x64/native/Microsoft.Data.SqlClient.SNI.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win-x86/native/Microsoft.Data.SqlClient.SNI.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Abstractions.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.InMemory.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.Relational.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.EntityFrameworkCore.SqlServer.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.Identity.Client.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.Identity.Client.Extensions.Msal.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.IdentityModel.Abstractions.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.IdentityModel.JsonWebTokens.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.IdentityModel.Logging.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.IdentityModel.Tokens.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.OpenApi.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.SqlServer.Server.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win/lib/net6.0/Microsoft.Win32.SystemEvents.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Microsoft.Win32.SystemEvents.dll
/DatapacTechnicalAssignment/obj/Debug/net8.0/staticwebassets/msbuild.build.DatapacTechnicalAssignment.props
/DatapacTechnicalAssignment/obj/Debug/net8.0/staticwebassets/msbuild.buildMultiTargeting.DatapacTechnicalAssignment.props
/DatapacTechnicalAssignment/obj/Debug/net8.0/staticwebassets/msbuild.buildTransitive.DatapacTechnicalAssignment.props
/DatapacTechnicalAssignment/obj/project.assets.json
/DatapacTechnicalAssignmentUnitTests/obj/project.assets.json
/DatapacTechnicalAssignment/obj/project.nuget.cache
/DatapacTechnicalAssignmentUnitTests/obj/project.nuget.cache
/DatapacTechnicalAssignment/obj/project.packagespec.json
/DatapacTechnicalAssignmentUnitTests/obj/project.packagespec.json
/DatapacTechnicalAssignment/bin/Debug/net8.0/Quartz.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Quartz.Extensions.DependencyInjection.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Quartz.Extensions.Hosting.dll
/DatapacTechnicalAssignment/obj/rider.project.model.nuget.info
/DatapacTechnicalAssignmentUnitTests/obj/rider.project.model.nuget.info
/DatapacTechnicalAssignment/obj/rider.project.restore.info
/DatapacTechnicalAssignmentUnitTests/obj/rider.project.restore.info
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win-arm64/native/sni.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win-x64/native/sni.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win-x86/native/sni.dll
/DatapacTechnicalAssignment/obj/Debug/net8.0/staticwebassets.build.json
/DatapacTechnicalAssignment/bin/Debug/net8.0/Swashbuckle.AspNetCore.Swagger.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerGen.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/Swashbuckle.AspNetCore.SwaggerUI.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/System.CodeDom.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/System.Configuration.ConfigurationManager.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/System.Data.SqlClient.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/unix/lib/net6.0/System.Drawing.Common.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Drawing.Common.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/System.Drawing.Common.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/System.IdentityModel.Tokens.Jwt.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/System.Memory.Data.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Runtime.Caching.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/System.Runtime.Caching.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Security.Cryptography.ProtectedData.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/System.Security.Cryptography.ProtectedData.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/System.Security.Permissions.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/runtimes/win/lib/net6.0/System.Windows.Extensions.dll
/DatapacTechnicalAssignment/bin/Debug/net8.0/System.Windows.Extensions.dll
/.idea/.idea.DatapacTechnicalAssignment/.idea/vcs.xml
/.idea
